<h1>Info User</h1>
<hr>
<div class="row">
  <div class="col-4">
    <h3>Current user {{userId()}} </h3>
    <button type="button"
      (click)="loadUser(userId() -1 )"
      class="btn btn-primary mt-2" >
      previous
    </button>
    &nbsp;
    <button type="button"
    (click)="loadUser(userId() + 1 )"
      class="btn btn-primary mt-2" >
      Next
    </button>


  </div>
  <div class="col-4" *ngIf="userWasFound()">
    <h3>User: {{currentUser()?.id}} </h3>
    <p>Email:  {{currentUser()?.email}} </p>

    <p>Full Name: {{fullName()}}</p>
    <img [src]="currentUser()?.avatar" [alt]="currentUser()?.first_name" class="rounded-5"/>
  </div>
  <div class="col-4 text-bg-danger" *ngIf="!userWasFound()">
    <h2>User not found</h2>
  </div>

</div>
